body {
    background-color: $noir;
    color: $beige;
    min-height: 100dvh;
    height: auto;
    width: 100%;
}

.navbar_privat {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-top: 0vh;
}

.logo-menu {
    width: auto;
    height: 5vh;
}

.logo-modal_privat {
    width: auto;
    height: 5vh;
}

.button-menu {
    font-family: "Millionaire-Roman";
    color: $beige;
    font-size: $h5-size;
    padding: 1vh 2vw 0.4vh 2vw;
    border: 2px solid $beige;
    border-radius: 0.75rem;
    text-decoration: none;

    &:hover {
        color: $rouge;
        border: 2px solid $rouge;
    }
}

.button-close_privat {
    font-family: "Millionaire-Roman" !important;
    color: $beige !important;
    font-size: $h5-size !important;
    padding: 1vh 2vw 0.4vh 2vw !important;
    border: 2px solid $beige !important;
    border-radius: 0.75rem !important;
    height: auto !important;
    min-height: 5vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: $noir !important;
    text-align: center !important;

    &:hover {
        color: $rouge !important;
        border: 2px solid $rouge !important;
        padding: 1vh 2vw 0.4vh 2vw !important;
    }
}

.uk-icon {

    svg {
        display: none !important;
    }
}

.menu-fullwidth_privat {
    background-color: $noir !important;
    height: 100vh !important;
    width: 100%;
}

.close-modal_privat {
    display: inline-flex;
    background-color: transparent !important;
    font-family: "Millionaire-Roman" !important;
    color: $beige !important;
    font-size: $h5-size !important;
    padding: 1vh 2vw 0.75vh 2vw !important;
    border: 2px solid $beige !important;
    border-radius: 0.75rem !important;
    text-decoration: none !important;

    &:hover {
        color: $rouge !important;
        border: 2px solid $rouge !important;
    }
}

[class*=uk-modal-close-] {
    width: 9vw;
    font-family: "Millionaire-Roman";
    color: $beige;
    font-size: $h5-size;
    padding: 1vh 2vw 0.75vh 2vw;
    border: 2px solid $beige;
    border-radius: 0.75rem;
    text-decoration: none;

    &:hover {
        color: $rouge;
        border: 2px solid $rouge;
    }
}

.div-liens-menu_privat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.liens-menu_privat {
    font-family: "Millionaire-Roman";
    color: $beige;
    font-size: $h2-size;
    line-height: 12vh;
    z-index: 9999;

    &:hover {
        color: $rouge;
    }
}

// Darkmode toggle

@keyframes checkboxAnim {
    0% {
        transform: rotate(0deg);
        margin-right: 1rem;
    }

    100% {
        transform: rotate(180deg);
        margin-right: -1rem;
    }
}

@keyframes checkboxAnimBack {
    0% {
        transform: rotate(180deg);
        margin-right: -1rem;
    }

    100% {
        transform: rotate(0deg);
        margin-right: 1rem;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toggleContainer {
    width: fit-content;
    height: fit-content;
    min-width: 2rem;
    min-height: 2rem;

    transform: scale(1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#checkbox {
    height: 3rem;
    width: 3rem;
    border-radius: 100px;

    -webkit-appearance: none;
    appearance: none;

    background: $beige;
    outline: none;
    border-radius: 30px;

    cursor: pointer;

    transition: .3s;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#checkbox:hover {
    box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: .5rem;
}

#checkbox::before {
    content: "";
    position: relative;

    width: 2.5rem;
    height: 2.5rem;

    background: $noir;
    border-radius: 100px;
    transition: .3s;
}

#checkbox::after {
    content: "";
    position: absolute;
    background: $beige;

    width: 1rem;
    height: 2rem;

    margin-right: 1rem;

    transform: rotate(0deg);


    border-top-left-radius: 6.25rem;
    border-bottom-left-radius: 6.25rem;
    border-right: 0;

    transition: .4s border-radius;
    animation: checkboxAnimBack .4s;
}

#checkbox:checked::before {
    background: $noir;
}

#checkbox:checked::after {
    animation: checkboxAnim .4s;

    content: "";
    position: absolute;

    transform: rotate(-180deg);

    width: 1rem;
    height: 2rem;

    margin-right: -1rem;
}

#checkbox:checked,
#checkbox:checked::after {
    background: $beige;
}

.darkBg {

    // Background aquatique
    background: linear-gradient(180deg, rgb(162, 188, 216) 0%, rgba(20, 35, 56, 1) 50%, rgba(0, 0, 0, 1) 100%);

    .titre-page_privat {
        font-family: "Millionaire-Roman";
        color: $beige;
        font-size: $h1-size;
        mix-blend-mode: overlay;
        z-index: 90;
    }
}

/* Footer */

.footer-privat {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
    padding-bottom: 10vh;
}

.mail_footer-privat {
    color: $beige;
    font-family: "Millionaire-Italic";
    font-size: 3.5rem;
    text-decoration: underline;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.social_footer-privat {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.lien-social_footer-privat {
    font-family: "Millionaire-Roman";
    color: $beige;
    font-size: $h5-size;
    padding: 1vh 2vw 0.4vh 2vw;
    border: 2px solid $beige;
    border-radius: 0.75rem;
    text-decoration: none;

    &:hover {
        color: $rouge;
        border: 2px solid $rouge;
        text-decoration: none;
    }
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: $noir;
}

body::-webkit-scrollbar-thumb {
    background: $beige;
    border-radius: 50px;
    //border: 2px solid rgba(247, 239, 231, 0.5);
}

/* Menu hover effect

.container-menu {
    font-family: "Millionaire-Roman";

    .sub-menu .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .link_menu {

            &:hover {
                position: fixed;

                .image {
                    display: block;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background-position: center;
                    background-size: 100%;
                    opacity: 1;
                    z-index: 999;
                }
            }
        }

        .image {
            display: none;
            position: absolute;
            pointer-events: none;
            //top: 50%;
            //left: 50%;
            //transform: translate(-50%, -50%);
            height: 60vh;
            width: auto;
            z-index: -9999;
            transition: opacity;
            transition-duration: 2s;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
} */